.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Slightly transparent background */
  position: fixed; /* Fix the loader in position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Ensure it's above other elements */
  backdrop-filter: blur(5px); /* Optional: Blur background */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Add any additional styles for the scrolling effect if needed */
